<div class="config-options" ng-controller="PluginOptionsCtrl as vm">
                    
	<h2 id="config-options">Options</h2>
	<ul class="options">
		<li ng-repeat="option in vm.options track by $index">
			<h5>{{option.name}}</h5>
			<p ng-if="option.bindAsHtml" ng-bind-html="option.description"></p>
			<p ng-if="!option.bindAsHtml" ng-bind="option.description"></p>
			<div ng-if="option.docArray">
				<ul>
					<li ng-repeat="arr in option.docArray">
						<span ng-repeat="(key, val) in arr">
							<b>{{key}}:</b> {{val}}
						</span>
					</li>
				</ul>
			</div>
			<div>
				<i>default: <span ng-bind="option.default"></span></i>
			</div>
		</li>
	</ul>
	
</div>
