<div class="scenario">
    <div ng-controller="RemoteDataUsingRenderItemCtrl as vm">
        <h3 class="config-title">Scrollable List Using renderItem Callback</h3>
        <div>
            <input type="text"
                   ng-model="vm.airportName"
                   class="form-control"
                   style="width:300px"
                   placeholder="Airport Name (Try 'a' or 'g')"
                   auto-complete="vm.autoCompleteOptions" />
        </div>
        <div ng-show="vm.airport">
            <pre>{{vm.airport | json}}</pre>
        </div>
    </div>
    <div class="code-container">
        <h6>HTML</h6>
        <div>
<pre><code ng-prism class="language-markup">&lt;body ng-app="mainApp">
    &lt;div ng-controller="MainCtrl as vm">
        &lt;input type="text"
            ng-model="vm.airportName"
            style="width: 400px;"
            placeholder="Airport Name (Try 'a' or 'g')"
            auto-complete="vm.autoCompleteOptions" />
    &lt;/div>
&lt;/body>
</code></pre>
        </div>
        <div>
            <h6>JavaScript</h6>
<pre><code ng-prism class="language-javascript">angular
    .module('mainApp', ['autoComplete'])
    .controller('MainCtrl', MainCtrl);
    
    MainCtrl.$inject = ['$http', '$sce'];
    function MainCtrl($http, $sce) {
        var that = this;
        that.airport = null;

        that.autoCompleteOptions = {
            minimumChars: 1,
            dropdownWidth: '500px',
            dropdownHeight: '200px',
            data: function (term) {
                return $http.get('airports.json')
                    .then(function (response) {
                        // ideally filtering should be done on server
                        term = term.toUpperCase();                        
                        return _.filter(response.data, function (val){
                            return val.iata == term
                                || val.name.startsWith(term);
                        });
                    });
            },
            renderItem: function (item) {
                return {
                    value: item.name,
                    label: $sce.trustAsHtml(
                    "&lt;p class='auto-complete'>" 
                    + item.name + 
                    "&lt;/p>")
                };
            },
            itemSelected: function (item) {
                that.airport = item;
            }
        }
    }
</code></pre>
        </div>
    </div>
</div>