<div class="scenario">
    <div ng-controller="CustomListUsingTemplateCtrl as ctrl">
        <h3 class="config-title">Custom List</h3>
        <input type="text"
               ng-model="ctrl.colorName"
               class="form-control"
               style="width:200px"
               placeholder="Color Name. Try 'r' or 'b'"
               auto-complete="ctrl.autoCompleteOptions" />
        <div ng-show="ctrl.selectedColor" class="selected-json">
            <pre>{{ctrl.selectedColor | json}}</pre>
        </div>
    </div>
</div>

<script type="text/ng-template" id="color-item-template">
    <table class='auto-complete'>
        <tbody>
            <tr>
                <td style='width: 55%;'>
                    <span ng-bind-html="entry.item.name | highlight:entry.searchText"></span>
                </td>
                <td style='width: 30%; padding-left: 10px'>{{entry.item.code}}</td>
                <td style='width: 15%; background-color:{{entry.item.code}}'></td>
            </tr>
        </tbody>
    </table>
</script>
