<div class="scenario">
    <div ng-controller="CustomListUsingTemplateUrlCtrl as ctrl">
        <h3 class="config-title">
            Custom List Using itemTemplateUrl
        </h3>
        <div>
            <input type="text"
                   ng-model="ctrl.colorName"
                   class="form-control"
                   style="width:300px"
                   placeholder="Hex Color Code. Try 'a' or '0'"
                   auto-complete="ctrl.autoCompleteOptions" />
        </div>
        <div ng-if="ctrl.selectedColor">
            <pre>{{ctrl.selectedColor | json}}</pre>
        </div>
    </div>
    <div class="code-container">
        <h6>HTML</h6>
        <div>
<pre><code ng-prism class="language-markup">&lt;body ng-app="mainApp">
    &lt;div ng-controller="MainCtrl as ctrl">
        &lt;input type="text"
            ng-model="ctrl.colorName"
            style="width: 400px;"
            placeholder="Hex Color Code. Try 'a' or '0'"
            auto-complete="ctrl.autoCompleteOptions" />
    &lt;/div>
&lt;/body>
</code></pre>
        </div>
        <div>
            <h6>JavaScript</h6>
<pre><code ng-prism class="language-javascript">angular
    .module('mainApp', ['autoCompleteModule'])
    .controller('MainCtrl', function() {
        var that = this;
        that.colorName = null;
        that.selectedColor = null;

        that.autoCompleteOptions = {
            minimumChars: 1,
            maxItemsToRender: 10,
            containerCssClass: 'color-codes',
            selectedTextAttr: 'code',
            itemTemplateUrl: 'templates/color-list-item.tpl.html',
            data: function (searchText) {
                if (!searchText.startsWith('#')) {
                    searchText = '#' + searchText;
                }

                searchText = searchText.toUpperCase();

                return _.filter(CSS_COLORS, function (color) {
                    return color.code.startsWith(searchText);
                });
            },
            itemSelected: function (e) {
                that.selectedColor = e.item;
            }
        }
    });
</code></pre>
        </div>
    </div>
</div>
