<div class="scenario">
    <div ng-controller="CustomListUsingTemplateCtrl as ctrl">
        <h3 class="config-title">
            Custom List
        </h3>
        <input type="text"
               ng-model="ctrl.colorName"
               class="form-control"
               style="width:300px"
               placeholder="Color Name. Try 'r' or 'b'"
               auto-complete="ctrl.autoCompleteOptions" />
        <div ng-show="ctrl.selectedColor">
            <pre>{{ctrl.selectedColor | json}}</pre>
        </div>
    </div>
    <div class="code-container">
        <h6>HTML</h6>
        <div>
<pre><code ng-prism class="language-markup">&lt;body ng-app="mainApp">
    &lt;div ng-controller="MainCtrl as ctrl">
        &lt;input type="text" 
            ng-model="ctrl.colorName"
            placeholder="Color Name. Try 'r' or 'b'"
            auto-complete="ctrl.autoCompleteOptions" />
    &lt;/div>

    &lt;script type="text/ng-template" id="color-item-template">
        &lt;table class='auto-complete'>
            &lt;tbody>
                &lt;tr>
                    &lt;td style='width: 55%;'>
                        &lt;span ng-bind-html="entry.item.name | uppercase | highlight:entry.searchText"></span>
                    &lt;/td>
                    &lt;td style='width: 15%; background-color:{{entry.item.code}}'></td>
                    &lt;td style='width: 30%; padding-left: 10px'>{{entry.item.code | uppercase}}</td>
                &lt;/tr>
            &lt;/tbody>
        &lt;/table>
    &lt;/script>
&lt;/body>
</code></pre>
        </div>
        <div>
            <h6>JavaScript</h6>
<pre><code ng-prism class="language-javascript">angular
    .module('mainApp', ['autoCompleteModule'])
    .controller('MainCtrl', function() {
        var that = this;
        that.colorName = null;

        that.autoCompleteOptions = {
            minimumChars: 1,
            maxItemsToRender: 10,
            containerCssClass: 'color-codes',
            selectedTextAttr: 'name',
            itemTemplate : $templateCache.get('color-item-template'),
            data: function (searchText) {
                searchText = searchText.toUpperCase();

                return _.filter(CSS_COLORS, function (color) {
                    return color.name.includes(searchText);
                });
            },
            itemSelected: function (e) {
                that.selectedColor = e.item;
            }
        }
    });
</code></pre>
        </div>
    </div>
</div>
