<div class="scenario">
    <div ng-controller="CustomListUsingTemplateUrlCtrl as ctrl">
        <h3 class="config-title">Custom List Using itemTemplateUrl</h3>
        <div>
            <input type="text"
                   ng-model="ctrl.colorName"
                   class="form-control"
                   style="width:300px"
                   placeholder="Hex Color Code. Try 'a' or '0'"
                   auto-complete="ctrl.autoCompleteOptions" />
        </div>
        <div ng-if="ctrl.selectedColor" class="selected-json">
            <pre>{{ctrl.selectedColor | json}}</pre>
        </div>
    </div>
</div>
