<div class="scenario">
    <div ng-controller="SimplePagedListRemoteDataCtrl as vm">
        <h3 class="config-title">Remote Data Source using Paging</h3>
        <div style="position:relative">
            <input type="text"
                   ng-model="vm.airportName"
                   class="form-control"
                   style="width:300px"
                   placeholder="Airport Name. Try 'p' or 'c'"
                   auto-complete="vm.autoCompleteOptions" />
            <span class="loading" ng-show="vm.loading"></span>
        </div>
    </div>
</div>
