<div class="scenario">
    <div ng-controller="SimplePagedListRemoteDataCtrl as ctrl">
        <h3 class="config-title">
            Remote Data Source with Paging
        </h3>
        <div style="position:relative">
            <input type="text"
                   ng-model="ctrl.airportName"
                   class="form-control"
                   style="width:300px"
                   placeholder="Airport Name. Try 'p' or 'c'"
                   auto-complete="ctrl.autoCompleteOptions" />
            <span class="loading" ng-show="ctrl.loading"></span>
        </div>
    </div>
    <div class="code-container">
        <h6>HTML</h6>
        <div>
<pre><code ng-prism class="language-markup">&lt;body ng-app="mainApp">
    &lt;div ng-controller="MainCtrl as ctrl">
        &lt;input type="text" 
            ng-model="ctrl.airportName"
            placeholder="Airport Name. Try 'p' or 'c'"
            auto-complete="ctrl.autoCompleteOptions" />
    &lt;/div>
&lt;/body>
</code></pre>
        </div>
        <div>
            <h6>JavaScript</h6>
<pre><code ng-prism class="language-javascript">angular
    .module('mainApp', ['autoCompleteModule'])
    .controller('MainCtrl', MainCtrl);
    
    MainCtrl.$inject = ['$http'];
    function MainCtrl($http) {
        var that = this;
        that.airportName = null;
        
        that.autoCompleteOptions = {
            minimumChars: 1,
            dropdownWidth: '500px',
            dropdownHeight: '200px',
            pagingEnabled: true,
            pageSize: 5,
            data: function (searchText, pagingParams) {
                return $http.get('airports.json')
                    .then(function (response) {
                        // ideally filtering/paging should be done on server
                        searchText = searchText.toUpperCase();

                        var airports = _.filter(response.data, function (airport) {
                            return airport.name.startsWith(searchText);
                        });
                        airports = getPage(airports, pagingParams.pageIndex, pagingParams.pageSize);

                        return _.pluck(airports, 'name');
                    });
            }
        }
    }
    
    function getPage(airports, pageIndex, pageSize) {
        var startIndex = pageIndex * pageSize;
        var endIndex = startIndex + pageSize;

        return airports.slice(startIndex, endIndex);
    }
</code></pre>
        </div>
    </div>
</div>
