<div class="scenario">
    <div ng-controller="SimpleListRemoteDataCtrl as vm">
        <h3 class="config-title">
            <a class="anchor" id="remote-data-source">
                Remote Data Source
            </a>
        </h3>
        <div style="position:relative">
            <input type="text"
                   ng-model="vm.stateName"
                   class="form-control"
                   style="width:300px"
                   placeholder="USA State Name. Try 'a' or 'n'"
                   auto-complete="vm.autoCompleteOptions" />
            <span class="loading" ng-show="vm.loading"></span>
        </div>
    </div>
    <div class="code-container">
        <h6>HTML</h6>
        <div>
<pre><code ng-prism class="language-markup">&lt;body ng-app="mainApp">
    &lt;div ng-controller="MainCtrl as vm">
        &lt;input type="text" 
            ng-model="vm.stateName"   
            placeholder="USA State Name. Try 'a' or 'n'"
            auto-complete="vm.autoCompleteOptions" />
    &lt;/div>
&lt;/body>
</code></pre>
        </div>
        <div>
            <h6>JavaScript</h6>
<pre><code ng-prism class="language-javascript">angular
    .module('mainApp', ['autoCompleteModule'])
    .controller('MainCtrl', MainCtrl);
    
    MainCtrl.$inject = ['$http'];
    function MainCtrl($http) {
        var that = this;
        that.stateName = null;
        
        that.autoCompleteOptions = {
            minimumChars: 1,
            data: function (searchText) {
                return $http.get('usa_states.json')
                    .then(function (response) {
                        searchText = searchText.toUpperCase();

                        // ideally filtering should be done on the server
                        var states = _.filter(response.data, function (state) {
                            return state.name.startsWith(searchText);
                        });

                        return _.pluck(states, 'name');
                    });
            }
        }
    }
</code></pre>
        </div>
    </div>
</div>
