<div class="scenario">
    <div ng-controller="SimpleListCtrl as vm">
        <h3 class="config-title">
            <a class="anchor" id="simple-list">
                Simple List
            </a>
        </h3>
        <div>
            <input type="text"
                   ng-model="vm.colorName"
                   class="form-control"
                   style="width:200px"
                   placeholder="Color Name. Try 'r' or 'b'"
                   auto-complete="vm.autoCompleteOptions" />
        </div>
    </div>
    <div class="code-container">
        <h6>HTML</h6>
        <div>
<pre><code ng-prism class="language-markup">&lt;body ng-app="mainApp">
    &lt;div ng-controller="MainCtrl as vm">
        &lt;input type="text"
            ng-model="vm.colorName"
            placeholder="Color Name. Try 'r' or 'b'"
            auto-complete="vm.autoCompleteOptions" />
    &lt;/div>
&lt;/body>
</code></pre>
        </div>
        <div>
            <h6>JavaScript</h6>
<pre><code ng-prism class="language-javascript">angular
    .module('mainApp', ['autoCompleteModule'])
    .controller('MainCtrl', function() {
        var that = this;
        that.colorName = null;
        
        that.autoCompleteOptions = {
            minimumChars: 1,
            data: function (searchText) {
                searchText = searchText.toUpperCase();

                var colors = _.filter(CSS_COLORS, function (color) {
                    return color.name.startsWith(searchText);
                });

                return _.pluck(colors, 'name');
            }
        }
    });
</code></pre>
        </div>
    </div>
</div>
