<div class="scenario">
    <div ng-controller="SimpleListCtrl as vm">
        <h3 class="config-title">Simple List</h3>
        <div>
            <input type="text"
                   ng-model="vm.colorName"
                   class="form-control"
                   style="width:200px"
                   placeholder="Color Name. Try 'r' or 'b'"
                   auto-complete="vm.autoCompleteOptions" />
        </div>
        <div id="dropdownParent" 
             class="inline-auto-complete-container"></div>
    </div>
</div>
