<!doctype html>
<!--[if IE]><![endif]-->
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]-->
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<script>if (/*@cc_on!@*/false) { document.documentElement.className += 'ie10'; }</script><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <title>angular-auto-complete</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="assets/normalize.css">
    <link rel="stylesheet" href="assets/bootstrap.css" />

    <link rel="stylesheet" href="assets/main.css?d=201702251343">
    <link rel="stylesheet" href="assets/prism-okaidia.css">
    <link rel="stylesheet" href="assets/angular-auto-complete.css?d=201702251343" />
    <link rel="stylesheet" href="assets/app.css?d=201702251343" />

    <script type="text/javascript" src="scripts/prism-okaidia.js"></script>

    <script type="text/javascript" src="scripts/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/jquery-ui.min.js"></script>
    <script type="text/javascript" src="scripts/angular.js"></script>
    <script type="text/javascript" src="scripts/angular-sanitize.js"></script>
    <script type="text/javascript" src="scripts/underscore.js"></script>

    <script type="text/javascript" src="scripts/angular-auto-complete.js?d=201702251343"></script>
    <script type="text/javascript" src="scripts/mock-data.js?d=201702251343"></script>
    <script type="text/javascript" src="scripts/app.js?d=201702251343"></script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body ng-app="mainApp">

    
    <div class="sidebar">
        <header class="header" role="banner">
            <a href="http://www.vickram.me/"><img id="blog" class="logo" src="images/vickram-ravichandran.png"></a>
            <h1 class="title"><a href="http://www.vickram.me/" style="text-decoration:none">Vickram Ravichandran</a></h1>
            <p class="description"></p>
            <div class="separator"></div>
            
            <nav class="main-nav responsive" role="navigation">
                <ul>
                    <li><a class="" href="http://www.vickram.me/">Home</a></li>
                </ul>
            </nav>

            <div class="social-icons">
                <a href="http://www.vickram.me/" class="icon icon-home"></a>
                <a href="https://www.linkedin.com/in/vickramravichandran" class="icon icon-linkedin"></a>
                <a href="https://github.com/vickramravichandran/angular-auto-complete" class="icon icon-github-circled"></a>
            </div>

            <div class="npm-links">
                <div>
                    <code>npm i angular-auto-complete</code>
                </div>
                <div style="margin-top:5px">
                    <code>bower i angular-auto-complete</code>
                </div>
            </div>
        </header>
    </div>

    <div class="content">
        <main role="main">
            <article class="post" role="article" itemscope="" itemtype="http://schema.org/Article">
                <h1 class="post-title">angular-auto-complete</h1>

                <div style="margin-top:20px; padding: 10px 0px">
                    <a role="button" class="btn btn-primary btn-lg" href="https://github.com/vickramravichandran/angular-auto-complete/archive/demo.zip">Download</a>
                    <a role="button" class="btn btn-primary btn-lg" target="_blank" href="https://github.com/vickramravichandran/angular-auto-complete">Source</a>
                    <a role="button" class="btn btn-primary btn-lg" onclick="scrollToOptions()">Options</a>
                </div>

                <div class="container-fluid">
                    <div class="row" ng-include="'partials/simple-list.html'"></div>
                    
                    <div class="row" ng-include="'partials/custom-list-using-template.html'"></div>

                    <div class="row" ng-include="'partials/activate-on-focus.html'"></div>
                    
                    <div class="row" ng-include="'partials/remote-data-source.html'"></div>
                    
                    <div class="row" ng-include="'partials/custom-list-using-template-url.html'"></div>
                    
                    <div class="row" ng-include="'partials/custom-scrollable-list-using-render-item.html'"></div>
                </div>

                <div class="config-options" ng-controller="PluginOptionsCtrl as vm">
                    
                    <h2 id="options">Options</h2>
                    <ul class="options">
                        <li ng-repeat="(key, val) in vm.options">
                            <h5>{{key}}</h5>
                            <p ng-if="val.bindAsHtml" ng-bind-html="val.doc"></p>
                            <p ng-if="!val.bindAsHtml" ng-bind="val.doc"></p>
                            <div ng-if="val.docArray">
                                <ul>
                                    <li ng-repeat="arr in val.docArray">
                                        <span ng-repeat="(key, val) in arr">
                                            <b>{{key}}:</b> {{val}}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    
                </div>

                <section class="post-comments">
                    <div id="disqus_thread"></div>
                    <script>
                        /**
                        * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                        * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                        */

                        var disqus_config = function () {
                            this.page.url = "http://www.vickram.me/angular-auto-complete"
                            this.page.identifier = "87mvfvbhsthnv";
                            this.page.title = "angular-auto-complete plugin"
                        };

                        (function () { // DON'T EDIT BELOW THIS LINE
                            var d = document, s = d.createElement('script');

                            s.src = '//vickram.disqus.com/embed.js';

                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
                </section>

            </article>
        </main>
    </div>


    <script type="text/ng-template" id="color-item-template">
        <table class='auto-complete'>
            <tbody>
                <tr>
                    <td style='width: 60%;'>{{item.name | uppercase}}</td>
                    <td style='width: 30%;'>{{item.code | uppercase}}</td>
                    <td style='width: 20%; background-color:{{item.code}}'></td>
                </tr>
            </tbody>
        </table>
    </script>

</body>

<script type="text/javascript">
    function scrollToOptions() {
        document.getElementById('options').scrollIntoView();
    }
</script>


</html>
