html {
	font-size: initial;
}

h1.post-title {
	font-size: 2.7em;
	font-weight: bold;
}

/*
.content pre[class*="language-"] {
	max-height: initial;
}
*/

div.code-container {
	margin-top: 20px;
}

	div.code-container h6 {
		margin-top: 10px;
	}

div.scenario {
	margin-bottom: 30px;
}

	div.scenario input[type=text] {
		font-weight: bold;
		background-color: white;
	}

h3.config-title {
	margin-top: 20px;
}


div.color-codes ul.auto-complete-results li.auto-complete-item {
	background-color: white;
}

	div.color-codes ul.auto-complete-results li.auto-complete-item:hover,
	div.color-codes ul.auto-complete-results li.auto-complete-item-selected {
		/*	background-color: #6699FF;*/
		background-color: black;
		color: White;
	}
